<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grafico Espacio Creativo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
  <link rel="shortcut icon" href="../static/IMG/grafico.png" type="image/x-icon">
</head>
<body>
      {% include 'navbar.html' %}

  <canvas id="loaderCanvas" width="300" height="300"></canvas>
  <img src="{{ url_for('static', filename='IMG/astro.png') }}" alt="Decoración izquierda" class="side-image left" id="imgLeft" style="display: none;">
  <img src="{{ url_for('static', filename='IMG/nutria.png') }}" alt="Decoración derecha" class="side-image right" id="imgRight" style="display: none;">

  <div class="circle" id="finalCircle" style="display: none; background-image: url('../static/IMG/luna.jpeg'); background-position: center; background-size: 280%; background-repeat: no-repeat;">
    <img src="{{ url_for('static', filename='IMG/grafico.png') }}" alt="Espacio Creativo" class="creativo">
  </div>
  <script src="{{ url_for('static', filename='JS/index.js') }}"></script>

      <!-- {% include 'footer.html' %} -->
</body>
</html>
