<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/user.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="form-container">
        <h2>Iniciar Sesión</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash">
                    <ul>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="POST">
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="password" name="contrasena" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
        </form>

        <a href="{{ url_for('registrarse') }}">¿No tienes cuenta? Regístrate</a>
    </div>
    {% include 'footer.html' %}
</body>
</html>
